@import "../../responsive.scss";

.listPage {
  display: flex;
  width: 100%;
  height: 100%;
  .listContainer {
    flex: 3;
    .wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-right: 50px;
        gap: 50px;
        overflow-y: scroll ;
    }
}
.mapContainer {
    flex: 2;
    @include md{
      display: none;
    }
  }
}
